# Domaine (Azure)
DOMAIN=cesizen.mathieu-monnie.switzerlandnorth.cloudapp.azure.com

# Let's Encrypt — email pour les notifications de certificat
ACME_EMAIL=mathieu.monnie7@gmail.com

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_mot_de_passe_fort
POSTGRES_DB=cesizen

# JWT — utilise de vraies valeurs aléatoires en prod (ex: openssl rand -hex 32)
JWT_ACCESS_SECRET=CHANGE_ME_secret_access
JWT_REFRESH_SECRET=CHANGE_ME_secret_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
